{% extends 'content.html.twig' %}

{% block title %}
	Mes Projets
{% endblock %}

{% block body %}
	{% if projects |length > 0 %}


		<h1 class="project ml-3">
			Mes projets ({{ projects | length }})
		</h1>

		<section class="projects ml-3">
			{% for p in projects %}

				<div class="project ml-3">

					<h2>{{ p.title }}</h2>
					<p>{{ p.shortDescription }}</p>
					<a href="{{ path('project_show',{'id':p.id}) }} " class="btn btn-primary">Voir plus</a>
					<a href="{{ path('project_delete',{'id':p.id}) }} " class="btn btn-danger">Supprimer</a>

				</div>
			{% endfor %}

		{% else %}
			<h1>vous n'avez pas encore de project</h1>
			<a href="{{ path('project_create') }}"></a>

		{% endif %}


	</section>

{% endblock %}
